<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid justify-content-center">
    <span class="navbar-text">
      Account Login
    </span>
  </div>
</nav>

<div class="container vh-100 w-75">
  <div class="row h-100 w-75 align-items-center mx-auto">
    <form action="/users" method="POST" class="w-50 h-75 mx-auto">
      <div class="mb-5">
        <h1 class="text-center">Account Login</h1>
      </div>
      <div class="mb-5">
        <input type="email" placeholder="Email" name="email" class="form-control" id="InputEmail1"
          aria-describedby="emailHelp" value="{{email}}" required>
      </div>
      <div class="mb-5">
        <input type="password" placeholder="Password" name="password" class="form-control" id="InputPassword1" required>
      </div>
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Sign in</button>
        <p class="mt-2 text-danger fw-bolder">{{#if comment}} {{comment}} {{/if}}</p>
      </div>
    </form>
  </div>
</div>